/*==== Google Fonts(Poppins) :: Start ====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/*==== Google Fonts(Poppins) :: End ====*/

/*==== Default Style :: Start ====*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

:root {
  --primary--gradient: linear-gradient(
    177deg,
    rgba(223, 241, 247, 1) 30%,
    rgba(245, 232, 220, 1) 100%
  );
  --heading-color: #141414;
  --sidebar-color: #010c0f;
  --body-color: #f5f7fb;
  --white: #ffffff;
  --border-color: #eee;
  --para-color: #868a9b;
  --green: #12af6c;
  --orange: #fc9719;
  --sky-blue: #04baff;
  --skyblue-light: rgba(59, 171, 255, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  color: var(--heading-color);
  overflow-x: hidden;
  line-height: 1.3;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

p,
span {
  font-size: 16px;
  color: var(--para-color);
  line-height: 26px;
}
button {
  border: none;
  background: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.button {
  display: inline-block;
  height: 33px;
  padding: 0 16px;
  line-height: 33px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--para-color);
  border: 1px solid var(--para-color);
  border-radius: 18px;
}
.default--scrollbar::-webkit-scrollbar {
  width: 6px;
}
.default--scrollbar::-webkit-scrollbar-track {
  background-color: var(--border-color);
  border-radius: 10px;
}
.default--scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(151deg, #fdd5b3 7.38%, #c3edfa 100%);
  border-radius: 10px;
}
/* header style  */
header {
  position: fixed;
  top: 0;
  left: 320px;
  width: calc(100% - 320px);
  padding: 18px 40px;
  z-index: 999;
  background-color: var(--white);
}
header .header--title h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 14px;
}
header .header--title h1 img {
  height: 30px;
  width: 32px;
}
header .notification--and--profile {
  display: flex;
  align-items: center;
  gap: 42px;
  justify-content: flex-end;
}
header .notification--and--profile .notification {
  display: inline-block;
  height: 44px;
  width: 44px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
header .notification--and--profile .notification:hover {
  background-color: var(--skyblue-light);
  border-color: var(--skyblue-light);
}
header .notification--and--profile .notification svg path {
  transition: all 0.3s ease-in-out;
}
header .notification--and--profile .notification:hover svg path {
  stroke: var(--sky-blue);
}
header .notification--and--profile .notification svg {
  width: 20.706px;
  height: 20.706px;
}
header .notification--and--profile .notification span {
  width: 7.333px;
  height: 7.333px;
  background-color: #ed0006;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 14px;
  border: 1px solid var(--white);
}
header .notification--and--profile .notification.active {
  background-color: var(--skyblue-light);
  border-color: transparent;
}
header .notification--and--profile .notification.active span {
  display: none;
}
header .notification--and--profile .notification.active svg path {
  stroke: var(--sky-blue);
}
header .notification--and--profile .profile {
  display: flex;
  align-items: center;
  gap: 14px;
}
header .notification--and--profile .profile img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}
header .notification--and--profile .profile h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--heading-color);
}
header .notification--and--profile .profile p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.48px;
  margin-top: 5px;
  letter-spacing: -0.28px;
}
/* sidebar styles  */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  background-color: var(--sidebar-color);
  padding: 38px 0 100px;
}
.sidebar .sidebar--logo {
  padding-left: 52px;
}
.sidebar .sidebar--logo img {
  width: 185px;
  height: 46px;
}
.sidebar .main--menu {
  margin-top: 62px;
}
.sidebar .help---support {
  margin-top: 55px;
}
.sidebar h4 {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--para-color);
  margin-bottom: 15px;
  padding: 0 52px;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--para-color);
  background-color: transparent;
  padding: 18px 52px;
}
.sidebar ul li a svg path {
  stroke: var(--para-color);
  fill: none;
}
.sidebar ul li a.active {
  background-image: url(../images/active-menubg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
}
.sidebar ul li a.dashboard.active svg path {
  stroke: var(--white);
  fill: var(--white);
}
.sidebar ul li a.active svg path {
  stroke: var(--white);
  fill: none;
}
.sidebar .logout {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--para-color);
  position: absolute;
  left: 52px;
  font-size: 18px;
  font-weight: 400;
  bottom: 60px;
}

/* app content styles  */
.app--content--main {
  margin-left: 320px;
  margin-top: 115px;
  padding: 0 40px 40px;
}

.home--banner--content .live--statistics--wrapper {
  position: absolute;
  bottom: 125px;
  left: auto;
  z-index: 50;
  width: 60%;
}

.live--statistics--wrapper .intro {
  color: var(--heading-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  position: relative;
  padding-left: 24px;
}

.live--statistics--wrapper .intro::before {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--green);
}

.live--statistic--content {
  padding: 24px 26px;
  border-radius: 16px;
  background: var(--primary--gradient);
  margin-top: 20px;
}

.live--statistic--content .milestone--wrapper {
  display: flex;
  margin-bottom: 20px;
  gap: 30px;
}

.live--statistic--content .milestone--wrapper .single--one p {
  color: var(--text-black);
  font-size: 16px;
  line-height: 132%;
  letter-spacing: -0.32px;
}

.live--statistic--content .milestone--wrapper .single--one p span {
  font-weight: 600;
  color: var(--heading-color);
}

.live--statistic--content .milestone--wrapper .single--one:first-child {
  width: 30%;
}
.live--statistic--content .milestone--wrapper .single--one:nth-child(2) {
  width: 20%;
  flex-grow: 1;
}
.live--statistic--content .milestone--wrapper .single--one:first-child {
  width: 36%;
}

.live--statistic--content .progress--wrapper {
  border-radius: 42px;
  background: #fff;
  width: 100%;
  height: 28px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.live--statistic--content .progress--wrapper .progress--bar {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #ef9f3c 0%, #ffd287 100%);
  border-radius: 42px;
}
.live--statistic--content .progress--wrapper span {
  color: var(--text-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 18.48px;
  letter-spacing: -0.28px;
  position: relative;
  z-index: 60;
  display: block;
}

.live--statistic--content .progress--wrapper span:first-child {
  width: 25%;
  text-align: center;
}
.live--statistic--content .progress--wrapper span:nth-child(2) {
  width: 36%;
  text-align: center;
}
.live--statistic--content .progress--wrapper span:nth-child(3),
.live--statistic--content .progress--wrapper span:nth-child(4) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 17%;
}
.live--statistic--content .progress--wrapper span:nth-child(4) {
  right: 6%;
}
.live--statistic--content .single--one.goal,
.live--statistic--content .single--one.tickets {
  position: relative;
}
.live--statistic--content .single--one.goal:before,
.live--statistic--content .single--one.tickets:before {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 15px;
  background-color: var(--sidebar-color);
}

/* details--area styles  */
.custom--row {
  display: flex;
}
.details--area .custom--row {
  gap: 34px;
  justify-content: space-between;
  margin-right: -17px;
  margin-left: -17px;
}
.details--area .custom--row .column {
  padding-right: 17px;
  padding-left: 17px;
}
.custom--row .row {
  margin-right: -9px;
  margin-left: -9px;
}
.custom--row .row [class*="col-"] {
  padding-right: 9px;
  padding-left: 9px;
}
.details--area .box {
  width: 36%;
  margin-top: 35px;
  height: 100%;
}
.details--area .box h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -0.4px;
}
.details--card {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 10px;
}
.details--card .icon {
  width: 49px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(232, 136, 15, 0.12) 0%,
    rgba(255, 207, 126, 0.12) 100%
  );
  backdrop-filter: blur(5.97560977935791px);
}
.details--card .icon svg {
  width: 28px;
  height: 28px;
}
.details--card p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.details--card h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.12px;
  letter-spacing: -0.44px;
}
.details--area .tickets--box {
  text-align: center;
  padding: 26px;
  background: var(--primary--gradient);
  width: 27%;
  border-radius: 10px;
  margin-top: 35px;
}
.details--area .tickets--box img {
  margin-left: auto;
  margin-right: auto;
  height: 112px;
  width: 142px;
  margin-bottom: 9px;
}
.details--area .tickets--box h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.8px;
  color: var(--orange);
  margin-bottom: 3px;
}
.details--area .tickets--box p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.48px;
  letter-spacing: -0.28px;
  color: var(--heading-color);
}
.details--area .tickets--box p.last-week {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.5%;
  color: var(--para-color);
}
.details--area .tickets--box p.last-week strong {
  color: var(--green);
  font-weight: normal;
  margin-right: 4px;
}

.box--common {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
}

/* analytics area styles  */
.top--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top--title h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -0.4px;
}
.top--title .nice-select {
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  border: 1px solid var(--para-color);
}
.analytic--box {
  margin-top: 35px;
}
.analytic--box .apexcharts-toolbar,
.analytic--box .apexcharts-legend {
  display: none !important;
}
.analytic--box .top--title {
  margin-bottom: 10px;
}
.apexcharts-legend {
  display: none !important;
}
.site--visit {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.common--title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -0.4px;
}
.site--visit .total--visit {
  margin-top: 22px;
}
.site--visit .total--visit p {
  color: #868a9b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
}
.site--visit .total--visit {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.12px;
  letter-spacing: -0.44px;
}
.site--visit .visit--traffic {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 60px;
}
.site--visit .visit--traffic li {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-left: 16px;
}
.site--visit .visit--traffic li:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #04baff;
}
.site--visit .visit--traffic li:last-child:before {
  background-color: #ffac45;
}
.analytics--area .col-md-8 {
  width: 61%;
}
.analytics--area .col-md-4 {
  width: 39%;
  padding-left: 20px;
}
.affiliates .row {
  margin-right: -8px;
  margin-left: -8px;
}
.affiliates .row [class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}
.top--affiliates.box--common {
  padding-right: 10px;
}
.affiliates .row .mt_20 {
  margin-top: 16px;
}
table {
  width: 100%;
}
.affiliates--table--wrapper {
  height: 283px;
  padding-right: 10px;
  overflow-y: auto;
}
.affiliates--table th:nth-child(1),
.common--table th:nth-child(1) {
  width: 11%;
}
.affiliates--table th:nth-child(2),
.common--table th:nth-child(2) {
  width: 74%;
}
.affiliates--table th,
.users--table--wrapper th,
.common--table th {
  font-size: 14px;
  color: var(--para-color);
  font-weight: 500;
  line-height: normal;
}
.affiliates--table th,
.affiliates--table tr td,
.common--table th,
.common--table tr td {
  padding: 14px 0;
}
.affiliates--table th:last-child,
.common--table th:last-child {
  text-align: right;
}
.affiliates--table tr td,
.common--table tr td {
  border-bottom: 1px solid var(--border-color);
}
.affiliates--table tr td:first-child,
.common--table tr td:first-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--heading-color);
}
.affiliates--table .affiliates--profile,
.users--table--wrapper .profile,
.common--table .profile {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: center;
}
.affiliates--table .affiliates--profile img,
.users--table--wrapper .profile img,
.common--table .profile img {
  height: 26px;
  width: 26px;
}
.affiliates--table .affiliates--profile p,
.users--table--wrapper .profile p,
.common--table .profile p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--heading-color);
}
.common--table .profile svg {
  width: 26px;
  height: 26px;
}
.affiliates--table tr td.sales,
.common--table tr td.sales {
  color: var(--green);
  text-align: right;
}
.affiliates--table tr:last-child td,
.common--table tr:last-child td {
  border: 0;
}
.map--area {
  margin-top: 25px;
}
.map--area {
  width: 735px;
  height: 365px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.map--area .map img {
  height: 100%;
  width: 100%;
}
.location {
  width: 112px;
  position: absolute;
}
.location:nth-child(1) {
  top: 26px;
  left: 12px;
}
.location:nth-child(2) {
  left: 170px;
  top: -30px;
}
.location:nth-child(3) {
  left: 154px;
  bottom: 132px;
}
.location:nth-child(4) {
  left: 336px;
  bottom: 125px;
}
.location:nth-child(5) {
  right: 260px;
  top: 62px;
}
.location:nth-child(6) {
  right: 96px;
  bottom: 71px;
}
.location:nth-child(7) {
  right: 123px;
  top: 51px;
}
.location:nth-child(8) {
  top: -6px;
  right: 115px;
}
.location .location--box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 1px 4px 12.1px rgba(2, 8, 37, 0.31);
  width: 100%;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.location .location--box.show {
  opacity: 1;
  visibility: visible;
}
.location .location--box:before {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/polygon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 18px;
  width: 18px;
}
.location .location--box img {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 5px;
}
.location .location--box h4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.location .location--box p {
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  color: var(--orange);
  line-height: normal;
  margin-top: 2px;
}
.location .pointer {
  width: 5.662px;
  height: 5.64px;
  background-color: var(--sky-blue);
  border-radius: 50%;
  margin: 16px auto 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.location .pointer:hover {
  transform: scale(1.5);
}

/* tickets page styles  */
.tickets--area .filter--and--search form {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}
.tickets--area .filter--and--search .select {
  position: relative;
}
.tickets--area .filter--and--search .select .sort--icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.tickets--area .filter--and--search .nice-select {
  width: 187px;
  border-radius: 73px;
  height: 46px;
  line-height: 46px;
  border: 1px solid var(--para-color);
  padding-left: 35px;
}
.tickets--area .filter--and--search .search {
  width: 518px;
  position: relative;
}
.tickets--area .filter--and--search .search input {
  width: 100%;
  height: 46px;
  padding: 0 18px 0 53px;
  border-radius: 73px;
  border: 1px solid var(--para-color);
}

.tickets--area .filter--and--search .search button {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.text-orange {
  color: var(--orange) !important;
}
.text-green {
  color: var(--green) !important;
}
.tickets--area .tickets,
.users--table--wrapper {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--white);
  margin-top: 35px;
  height: calc(100vh - 278px);
  overflow-y: auto;
}
.ticket--single {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 12px;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  background-color: var(--white);
  justify-content: space-between;
  gap: 194px;
  margin-top: 25px;
}
.ticket--single:first-child {
  margin-top: 0;
}
.action--btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 42px;
  border: 2px solid #f2f2f2;
  border-radius: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: var(--heading-color);
  transition: all 0.3s ease-in-out;
}
.action--btn:hover,
.action--btnv2 {
  background-color: var(--skyblue-light);
  color: var(--sky-blue);
  border-color: transparent;
}
.action--btn svg path {
  transition: all 0.3s ease-in-out;
}
.action--btn:hover svg path,
.action--btnv2 svg path {
  stroke: var(--sky-blue);
}
.ticket--single .payment--and--actions,
.ticket--single .ticket--and--name {
  display: flex;
  align-items: center;
}
.ticket--single .payment--and--actions {
  gap: 166px;
  position: relative;
}
.ticket--single .ticket--and--name {
  gap: 32px;
  position: relative;
}
.ticket--single .ticket--and--name:before,
.ticket--single .payment--and--actions:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 174px;
  background: #e2e2e2;
  right: -120px;
}
.ticket--single .payment--and--actions:before {
  left: 55%;
}
.ticket--single .ticket--and--name .ticket--box {
  padding: 55px 20px 20px;
  background: var(--primary--gradient);
  border-radius: 15px;
  position: relative;
  text-align: center;
}
.ticket--single .ticket--and--name .ticket--box img {
  width: 138px;
  height: 90px;
  margin-bottom: 13px;
}
.ticket--single .ticket--and--name .ticket--box p {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  color: var(--heading-color);
}
.ticket--single .ticket--and--name .ticket--box span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.32px;
  color: var(--orange);
  position: absolute;
  top: 11px;
  left: 16px;
}
.common--pair--text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--para-color);
}
.common--pair--text span {
  display: inline-block;
  color: var(--heading-color);
  font-weight: 500;
}
.ticket--single .common--pair--text {
  margin-top: 16px;
}
.ticket--single .common--pair--text:first-child {
  margin-top: 0;
}

/* users page styles  */
.tickets--area.users--area .filter--and--search .nice-select {
  padding-left: 20px;
}
.users--table--wrapper th {
  font-size: 18px;
  padding: 22px 0;
  border-bottom: 1px solid var(--border-color);
}
.users--table--wrapper th:nth-child(1) {
  width: 5%;
}
.users--table--wrapper th:nth-child(2) {
  width: 28%;
}
.users--table--wrapper th:nth-child(3) {
  width: 30%;
}
.users--table--wrapper th:nth-child(4) {
  width: 27%;
}
.users--table--wrapper tr td {
  padding: 22px 0;
  border-bottom: 1px solid var(--border-color);
}
.users--table--wrapper tr td:first-child {
  font-weight: 500;
}
.users--table--wrapper tr:last-child td {
  border-bottom: 0;
}
.users--table--wrapper .user--tickets {
  display: flex;
  align-items: center;
  gap: 10px;
}
.users--table--wrapper .user--tickets p {
  color: var(--orange);
  font-weight: 600;
}
.users--table--wrapper .user--tickets img {
  width: 57px;
  height: 36px;
}
.users--table--wrapper .action--btn {
  padding: 10px 40px;
  width: 122px;
  justify-content: center;
}
.users--table--wrapper .action--btn svg {
  height: 17px;
  min-width: 17px;
}

/* user page styles  */
.user--area .top--title .action--btn {
  background-color: var(--sky-blue);
  color: var(--white);
}
.user--area .top--title .action--btn:hover {
  background-color: var(--skyblue-light);
  color: var(--heading-color);
}
.user--area .top--title .action--btn:hover svg path {
  stroke: var(--heading-color);
}
.user--area .top--title h3 {
  font-size: 24px;
  align-items: center;
}
.user--area .information--box {
  padding: 35px;
  background: var(--white);
  margin-top: 47px;
  height: calc(100% - 45px);
  border-radius: 10px;
}
.user--area .information--box.user--information img {
  width: 78px;
  height: 78px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 4px;
}
.user--area .information--box.user--information h4 {
  margin-bottom: 33px;
}
.user--area .information--box .common--pair--text {
  margin-top: 20px;
}
.user--area .information--box h4 {
  margin-bottom: 4px;
}
.user--area .general--info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}
.user--area .general--info .action--btn {
  background-color: rgba(255, 86, 48, 0.1);
}
.user--area .general--info .action--btn:hover {
  background-color: rgba(255, 86, 48, 0.3);
  color: var(--heading-color);
}
.user--area .row {
  margin-right: -17.5px;
  margin-left: -17.5px;
}
.user--area .row [class*="col-"] {
  padding-left: 17.5px;
  padding-right: 17.5px;
}
.user--area .tickets .action--btnv2 {
  background-color: rgba(255, 86, 48, 0.15);
  color: #ff5630;
}
.user--area .tickets .action--btnv2 svg path {
  stroke: #ff5630;
}

/* warning--popup styles  */
.warning--popup {
  padding: 40px;
  background-color: var(--white);
  border-radius: 20px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  z-index: 9999;
}
.warning--popup.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.warning--popup img {
  width: 350px;
  height: 229px;
  margin-bottom: 38px;
}
.warning--popup#refund--popup img {
  width: 186.943px;
  height: 197.355px;
}
.warning--popup h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
  margin-bottom: 4px;
}
.warning--popup p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.warning--popup .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.warning--popup .buttons a {
  padding: 12px 57px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--white);
  background-color: var(--sky-blue);
  border-radius: 71px;
}
.warning--popup .buttons a.danger {
  color: #ff4c24;
  background-color: rgba(255, 76, 36, 0.15);
}
.warning--popup .pop--close {
  position: absolute;
  top: 27px;
  right: 27px;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* statistics page styles  */
.app--content--main.statistics .details--area .box {
  width: 48.9%;
}
.app--content--main.statistics .tickets--box {
  width: 100%;
  height: calc(100% - 40px);
  padding: 43px;
}
.app--content--main.statistics .tickets--box img {
  height: 200px;
  width: 240px;
  margin-bottom: 20px;
}
.app--content--main.statistics .tickets--box h3 {
  font-size: 50px;
}
.app--content--main.statistics .tickets--box p {
  font-size: 20px;
  margin-top: 16px;
}
.app--content--main.statistics .last-week svg {
  height: 20px;
  width: 20px;
}

.common--row-spacing {
  margin-right: -10px;
  margin-left: -10px;
}
.common--row-spacing [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/* profile page styles  */
.profile--area {
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  padding: 35px;
  margin-top: 250px;
}
.profile--area .upload--wrapper input {
  display: none;
}
.profile--area .upload--wrapper label {
  position: absolute;
  bottom: 14px;
  right: 10px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: var(--sky-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 4px solid var(--white);
  cursor: pointer;
}
.profile--area .upload--wrapper {
  min-width: 220px;
  min-height: 220px;
  max-width: 220px;
  max-height: 220px;
  position: relative;
}
.profile--area .profile {
  width: 220px;
  margin-top: -140px;
}
.profile--area .upload--wrapper .preview--img img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.profile--name {
  text-align: center;
  margin-top: 25px;
}
.profile--name h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42.24px;
  margin-bottom: 10px;
}
.profile--name p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.4px;
  color: var(--para-color);
}
.profile--info--box h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  margin-bottom: 7px;
}
.profile--info--box h3 span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.326px;
}
.profile--info--box .input--group {
  margin-top: 20px;
}
.profile--info--box .input--group label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.12px;
  letter-spacing: -0.32px;
  margin-bottom: 12px;
}
.profile--info--box .input--group input {
  width: 100%;
  height: 52px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 24px;
}
.profile--info--box button {
  padding: 16px 45px;
  background-color: var(--sky-blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  border-radius: 60px;
  margin-top: 35px;
  border: 1px solid var(--sky-blue);
  transition: all 0.3s ease-in-out;
}
.profile--info--box button:hover {
  background-color: transparent;
  color: var(--sky-blue);
  border-color: var(--sky-blue);
}
.profile--area .row {
  margin-right: -27px;
  margin-left: -27px;
}
.profile--area .row [class*="col-"] {
  padding-right: 27px;
  padding-left: 27px;
}

/* notification page style  */

.notification--area .top--title {
  margin-bottom: 47px;
}
.notification--area .top--title h3 {
  font-size: 24px;
}
.notification--area .top--title .button {
  padding: 16px 40px;
  background-color: rgba(4, 186, 255, 0.1);
  height: auto;
  border-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: var(--sky-blue);
  border-radius: 60px;
}
.notification--area .notification--wrapper {
  padding: 35px;
  background-color: var(--white);
  height: calc(100vh - 270px);
  overflow: hidden;
}
.notification--area .notification--wrapper .notifications {
  height: calc(100vh - 250px);
  overflow-y: auto;
}
.notification--area .notification--wrapper .nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: var(--para-color);
  padding: 16px;
  border-bottom: 2px solid transparent;
  border-radius: 0;
}
.notification--area .notification--wrapper .nav {
  position: relative;
  z-index: 1;
}
.notification--area .notification--wrapper .nav:before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #e2e2e2;
  z-index: -1;
}
.notification--area .notification--wrapper .nav-link.active {
  background: transparent;
  color: var(--sky-blue);
  border-color: var(--sky-blue);
}
.notification--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  border-bottom: 1px solid #eee;
}
.notification--card:last-child {
  border-bottom: 0;
}
.notification--card .message {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 754px;
}
.notification--card .message .icon {
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.notification--card .message h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}
.notification--card .message p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.377px;
}
.notification--card .status {
  font-weight: 500;
}
.notification--card .action--btn {
  padding: 16px 32px;
  background-color: rgba(255, 86, 48, 0.1);
  color: #ff5630;
}
.notification--card .action--btn:hover svg path {
  stroke: #ff5630;
}

/* settings page styles  */

.management--area h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  margin-bottom: 35px;
}
.management--area .main--settings--area {
  height: calc(100vh - 225px);
  padding: 35px;
  background-color: var(--white);
  overflow-y: auto;
  border-radius: 10px;
}
.management--area .main--settings--area h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
}
.management--area .main--settings--area h4 span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.326px;
}
.management--area .main--settings--area .single--setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.management--area .main--settings--area .single--setting h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 0;
}

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
  outline: none;
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 32px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}
.light-mode-button.active span:nth-child(2) {
  left: 30px;
}
.light-mode-button.active span:nth-child(1) {
  background-color: var(--sky-blue);
}

/* help pages styles  */
.help--post--wrapper {
  background-color: var(--white);
  border-radius: 10px;
  padding: 35px;
  height: calc(100vh - 245px);
  overflow-y: auto;
  margin-top: 35px;
}
.ticket--post--card {
  padding: 30px 35px;
  border-radius: 15px;
  border: 1px solid #e2e2e2;
  background: var(--white);
  margin-top: 20px;
}
.ticket--post--card:first-child {
  margin-top: 0;
}
.ticket--post--card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.ticket--post--card .ticket--info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ticket--post--card .ticket--info p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: -0.4px;
  color: var(--heading-color);
}
.ticket--post--card .top .icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border-radius: 56px;
  background: rgba(4, 186, 255, 0.12);
  backdrop-filter: blur(5.97560977935791px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticket--post--card .top .date--and--actions {
  display: flex;
  align-items: center;
  gap: 48px;
}
.ticket--post--card .top .date--and--actions svg {
  cursor: pointer;
}
.ticket--post--card .message {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.377px;
  width: 1245px;
  margin-bottom: 40px;
}
.ticket--post--card .moderator--area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ticket--post--card .moderator--area .moderator {
  display: flex;
  align-items: center;
  gap: 12px;
}
.ticket--post--card .moderator--area .moderator img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.ticket--post--card .moderator--area .moderator p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
  color: var(--heading-color);
}
.ticket--post--card .moderator--area .tag {
  display: block;
  color: var(--heading-color);
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.statistics .box--common {
  height: 100%;
}
.statistics .box--common.analytic--box {
  height: calc(100% - 36px);
}
.pr_17 {
  padding-right: 17px;
}
.pl_17 {
  padding-left: 17px;
}

/* User Part Css Styles :: Start  */

/* user dashboard styles  */
.user--portal .user--ticketslider--wrapper {
  background: var(--primary--gradient);
  padding: 35px 35px 120px 35px;
  border-radius: 10px;
  position: relative;
}
.user--portal .user--ticketslider--wrapper:before {
  content: "";
  top: 476px;
  left: 0;
  position: absolute;
  background-image: url(../images/line.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1px;
}
.user--portal .user--ticket--slider .img--area img {
  width: 490px;
  height: 320px;
  margin: 26px auto 20px;
}
.user--portal .user--ticket--slider .ticket--id {
  color: #ff9510;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  text-align: center;
}
.user--portal .user--ticket--slider .ticket--details {
  padding-top: 60px;
}
.before-buy .ticket--details,
.before-buy .user--ticketslider--wrapper:before,
.before-buy .user--ticketslider--wrapper .button--area {
  display: none;
}
.before-buy .no--ticket {
  display: block !important;
}
.before-buy .no--ticket p {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.12px;
  letter-spacing: -0.44px;
  color: var(--heading-color);
  margin-bottom: 40px;
  margin-top: 30px;
}
.user--portal .user--ticket--slider .ticket--details .details {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.user--portal .user--ticket--slider .ticket--details .details img,
.user--portal .user--ticket--slider .ticket--details .details .icon {
  width: 36px;
  height: 36px;
  border-radius: 56px;
}
.user--portal .user--ticket--slider .ticket--details .details p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: var(--heading-color);
}
.user--portal .user--ticket--slider .ticket--details .details .icon {
  background-color: rgba(253, 200, 108, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user--common--btn {
  display: inline-block;
  padding: 16px 47px;
  background-color: var(--sky-blue);
  border-radius: 60px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: var(--white);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.user--common--btn:hover {
  border-color: var(--sky-blue);
  background-color: transparent;
  color: var(--sky-blue);
}
.user--portal .user--ticketslider--wrapper .total--tickets {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.48px;
  text-align: center;
  color: var(--heading-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}
.owl-nav button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange) !important;
  background-color: var(--orange) !important;
  position: absolute;
}
.owl-nav button.disabled {
  background-color: transparent !important;
}
.owl-nav .owl-prev {
  left: 35px;
  bottom: -82px;
}
.owl-nav .owl-next {
  right: 35px;
  bottom: -82px;
}
.owl-nav button.disabled svg path {
  stroke: var(--orange);
}
.user--portal .news--wrapper {
  height: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 35px;
}
.user--portal .news--wrapper .ticket--post--card {
  padding: 24px 28px;
}
.user--portal .news--wrapper .ticket--post--card .message {
  width: 100%;
}
.user--portal .ticket--post--card .top .icon {
  background-color: rgba(253, 200, 108, 0.15);
}
.read--more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.76px;
  letter-spacing: -0.36px;
  color: var(--sky-blue);
}
.user--portal .all--news {
  height: 853px;
  overflow-y: auto;
  padding-right: 16px;
}
.before-buy .all--news {
  height: 615px;
}
.user--portal .cool--facts.box--common .details--card {
  border: none;
  padding: 0;
}
.user--portal .cool--facts.box--common .facts--card {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
}
.user--portal .affiliate--box {
  padding: 40px;
  background: var(--primary--gradient);
  border-radius: 10px;
}
.user--portal .affiliate--box {
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 36.96px */
  letter-spacing: -0.56px;
}
.user--portal .affiliate--box h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.96px;
  letter-spacing: -0.56px;
  color: var(--orange);
  margin-bottom: 12px;
}
.user--portal .affiliate--box p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.36px;
  letter-spacing: -0.32px;
  color: var(--heading-color);
  margin-bottom: 32px;
}
.user--portal .affiliate--box a {
  padding: 12px 47px;
}
.user--portal .ticket--history--box,
.user--portal .social--share,
.buy-ebook--wrap .buy-ebook,
.faq--box,
.user--portal.buy-ebook .chat--box {
  padding: 35px;
  border-radius: 10px;
  background-color: var(--white);
}
.user--portal .ticket--single .ticket--and--name .ticket--box {
  padding: 33px 13px;
}
.user--portal .ticket--single .ticket--and--name .ticket--box img {
  margin-bottom: 0;
}
.user--portal .ticket--single .ticket--and--name:before,
.user--portal .ticket--single .payment--and--actions:before {
  display: none;
}
.user--portal .ticket--single .ticket--and--name {
  gap: 28px;
}
.user--portal .ticket--single .details p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.75px;
  color: var(--heading-color);
  margin-bottom: 10px;
}
.user--portal .ticket--single .details p:last-child {
  margin-bottom: 0;
}
.user--portal .ticket--single .action--btn {
  padding: 13px 18px;
  font-size: 13px;
  border-width: 1px;
}
.user--portal .action--btnv2 {
  color: var(--sky-blue);
}
.user--portal .ticket--single {
  margin-top: 20px;
}
.user--portal .all--purchase--tickets {
  height: 520px;
  overflow-y: auto;
  padding-right: 16px;
}
.user--portal .social--share .icon--box {
  padding: 24px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-top: 25px;
}
.user--portal .social--share .icon--box p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.68px;
  letter-spacing: -0.28px;
  width: 594px;
  color: var(--heading-color);
}
.user--portal .social--share ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 42px;
}
.user--portal .social--share ul li a {
  display: inline-block;
  width: 34.235px;
  height: 34.969px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e9ea;
  border-radius: 50%;
}
.affiliate--box.gift--box {
  padding: 25px;
}
.affiliate--box.gift--box img {
  height: 70px;
  width: 70px;
  margin-bottom: 5px;
}
.user--portal .affiliate--box.gift--box h3 {
  font-size: 22px;
  margin-bottom: 5px;
}
.user--portal .affiliate--box.gift--box a {
  line-height: normal;
}
.user--portal .affiliate--box.gift--box p {
  text-align: center;
  font-size: 13px;
  color: var(--heading-color);
  margin-bottom: 15px;
  line-height: normal;
}
.blur--box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.blur--box p {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 35.2px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 20px;
}
.before-buy .blur--box {
  display: flex !important;
}
/* Buy ebook pages style  */
.buy-ebook--wrap h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
.buy-ebook--wrap .buy-ebook {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.buy-ebook--wrap .buy-ebook .book--details {
  display: flex;
  align-items: center;
  gap: 60px;
}
.buy-ebook--wrap .buy-ebook .book--details .book {
  width: 536px;
  height: 363px;
  border-radius: 15px;
  background: var(--primary--gradient);
  padding: 34px 28px;
}
.buy-ebook--wrap .buy-ebook .book--details .book img {
  width: 100%;
  height: 311px;
}
.buy-ebook--wrap .buy-ebook .book--details h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 63.36px;
  letter-spacing: -0.96px;
  margin-bottom: 10px;
}
.buy-ebook--wrap .buy-ebook .book--details .id {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  color: var(--orange);
  margin-bottom: 27px;
}
.buy-ebook--wrap .buy-ebook .book--details .price,
.buy-ebook--wrap .buy-ebook .book--details .price span {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.75px;
}
.buy-ebook--wrap .buy-ebook .book--details .price span {
  font-weight: 500;
  color: var(--heading-color);
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  border-radius: 35.527px;
  background: rgba(0, 0, 0, 0.05);
  padding: 12px;
  margin-top: 60px;
}
.quantity button {
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
  background-color: var(--sky-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity button.disabled {
  background-color: var(--skyblue-light);
  cursor: not-allowed;
}
.quantity button svg path {
  stroke: var(--white);
}
.quantity button.disabled svg path {
  stroke: var(--sky-blue);
}
.quantity input {
  border: none;
  background: none;
  width: 30px;
  margin-left: 18px;
  font-size: 20px;
  font-weight: 500;
}
.buy-ebook--wrap .buttons--area .buttons {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 33px;
}
.buy-ebook--wrap .buttons--area .user--common--btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 30px;
}
.buy-ebook--wrap .buttons--area .user--common--btn:hover svg path {
  stroke: var(--sky-blue);
}
.buy-ebook--wrap .buttons--area .user--common--btn.gift {
  background-color: rgba(239, 159, 60, 0.15);
  color: var(--orange);
  border-color: transparent;
}
.buy-ebook--wrap .buttons--area .user--common--btn.gift:hover {
  background-color: rgba(239, 159, 60, 0.3);
}
.buy-ebook--wrap .buttons--area p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 200px;
}
.user--portal.buy-ebook .tickets--box {
  width: 100%;
  padding: 40px;
}
.user--portal.buy-ebook .tickets--box img {
  width: 210px;
  height: 160px;
}
.user--portal.buy-ebook .tickets--box .last-week {
  color: var(--green);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.5px;
}
.user--portal.buy-ebook .chat--box {
  text-align: center;
}
.user--portal.buy-ebook .chat--box h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.68px;
  letter-spacing: -0.48px;
  margin-bottom: 12px;
}
.user--portal.buy-ebook .chat--box .user--common--btn {
  background-color: var(--sidebar-color);
  color: var(--white);
  padding: 14px 40px;
  margin-top: 24px;
}
.faq--area--content {
  margin: 0 auto;
  padding-top: 24px;
}

.faq--area--content .accordion-button {
  color: var(--text-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(
    84deg,
    rgba(199, 227, 235, 0.3) 4.4%,
    rgba(250, 219, 192, 0.3) 97.68%
  );
  box-shadow: none;
  border-radius: 10px 10px 0px 0px;
}

.faq--area--content .accordion-button.collapsed {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background: #fff;
}

.faq--area--content .accordion-item {
  border: none;
}

.faq--area--content .accordion-button:focus {
  box-shadow: none;
}

.faq--area--content .accordion-body {
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(
    84deg,
    rgba(199, 227, 235, 0.3) 4.4%,
    rgba(250, 219, 192, 0.3) 97.68%
  );

  padding: 28px 32px;
  color: #353535;
  font-size: 16px;
  line-height: 27px;
  padding-top: 0;
}

.faq--area--content .accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: accordion-item;
}

.faq--area--content .accordion .accordion-item {
  counter-increment: accordion-item;
}

.faq--area--content .accordion .accordion-button::before {
  content: counter(accordion-item) ".";
  margin-right: 5px;
}
/* User Part Css Styles :: End  */
